<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nuces Circle</title>
    {% load staticfiles %}
    <!--for icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'accounts/style.css' %}">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'accounts/js/date.js' %}"></script>
    <script src="{% static 'accounts/js/jobs.js' %}"></script>
    <script src="{% static 'accounts/js/search.js' %}"></script>
    <script type="text/javascript">
        // A CSRF token is required when making post requests in Django
        // To be used for making AJAX requests in script.js
        window.CSRF_TOKEN = "{{ csrf_token }}";
      </script>
    <script src="{% static 'accounts/js/logout.js' %}"></script>
</head>
<body class="body-profile" >
    <nav class="profile-navbar fixed-top navbar navbar-profile navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a href="{% url 'accounts:newsfeed' %}" class="navbar-brand"><img src="{% static 'accounts/img/nC.png' %}"></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="{% url 'accounts:newsfeed' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'jobs:addJob' %}" class="nav-link">Jobs</a>
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'sendmail:email' %}" class="nav-link">Send Email</a>
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'profiles:viewProfile' user.username %}" class="nav-link">My Profile</a>
                    </li>
                    <li class="nav-item">
                            <a href="javascript:void(0)" onclick="logout();" class="nav-link"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                    </li>
                    <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                    
            </ul>
            <form class="form-inline mr-auto" action="{% url 'accounts:search' %}" method="GET">
                <input type="text" name="username" class="form-control mr-2" placeholder="Search">
                <input class="btn btn-outline-primary" value="Search" type="submit">
            </form>
            </div>
        </div>
    </nav>

    {% block body %}
    {%  endblock %}
    <!--post ends here-->
</body>
</html>