{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="news-feed row">
        {% include 'accounts/_alerts.html' %}
{% for job in jobs %}
<div class="offset-1 col-10 mb-2 card">
        <div class="card-body">
            <h4 class="card-title">{{ job.title}}</h4>
            <h6 class="card-subtitle text-muted">{{job.reqEducation}}</h6>
            <p class="card-text">{{job.description}}</p>
            <a class="btn btn-outline-primary" href="{% url 'jobs:check' job.id %}">Check</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

